.vscode
openhsv.egg-info
docs/build
openhsv/__pycache__
openhsv/hardware/__pycache__
openhsv/gui/__pycache__
openhsv/analysis/__pycache__
openhsv/openhsv_splashscreen_old.jpg
openhsv/openhsv_logo_old.png
